.autocomplete {
  position: relative;
}

.input {
  background: #f2f2f2;

  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 0.8rem;
  width: 12rem;
}

.data-list {
  position: absolute;
  background-color: #f2f2f2;
  color: black;

  list-style: none;

  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 0.8rem;
  width: 12rem;

  overflow: hidden;
  z-index: 1;
}

.data-list li {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
}

.data-list li:hover {
  background-color: #c8bcf4;
}
