.button {
  background-color: var(--main-purple);
  color: var(--main-white);
  font-family: "Rawline_600";

  border: none;
  border-radius: 25px;
  flex-shrink: 0;

  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-purple);
}
