.button-group button {
  border-radius: 0;
}

.button-group .selected {
  background-color: #886aee;
}

.button-group button:first-child {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.button-group button:last-child {
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.button {
  background-color: #c8bcf4;
  color: #1e1636;
  cursor: pointer;

  border: none;
  border-radius: 0.8rem;
  padding: 0.8rem;
}

.button:hover {
  background-color: #886aee;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
