@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.page {
  display: flex;
  flex-direction: row;
}

.container {
  background-image: linear-gradient(
    to right top,
    #0e0a1a,
    #0c0817,
    #090514,
    #070311,
    #04010d
  );
  color: #f2f2f2;

  font-family: "Roboto", sans-serif;
  font-size: 16px;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  height: 100vh;
  width: fit-content;
  padding: 2rem 2rem 0 2rem;
}

.search-container,
.date-pickers {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.card {
  background-color: #393253;

  padding: 3rem;
  border-radius: 1.5rem;
  width: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.search-container .icon {
  position: absolute;
  top: calc(50% - 8px);
  right: -30px;
}

.button {
  background-color: #c8bcf4;
  color: #1e1636;
  cursor: pointer;

  border: none;
  border-radius: 0.8rem;
  padding: 0.8rem;
}

.button:hover {
  background-color: #886aee;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
