@font-face {
  font-family: "Rawline_300";
  src: url("./assets/fonts/rawline-300.ttf");
}

@font-face {
  font-family: "Rawline_400";
  src: url("./assets/fonts/rawline-400.ttf");
}

@font-face {
  font-family: "Rawline_500";
  src: url("./assets/fonts/rawline-500.ttf");
}

@font-face {
  font-family: "Rawline_600";
  src: url("./assets/fonts/rawline-600.ttf");
}

@font-face {
  font-family: "Rawline_700";
  src: url("./assets/fonts/rawline-700.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Rawline_300", serif;
}

:root {
  --main-bg-color: #f4f5fe;
  --main-white: #ffffff;
  --main-purple: #06064a;
  --secondary-purple: #06064a60;
  --light-gray: #cccccc;
}
